<li>
  <%= f.label :code %>
  <%= f.text_field :code %>
</li>
<li>
  <%= f.label :group %>
  <%= f.text_field :group %>
</li>
<li>
  <%= f.label :options_standard %>
  <%= f.text_field :options_standard %>
</li>
<li>
  <%= f.label :options_additional %>
  <%= f.text_field :options_additional %>
</li>	
<li>
  <%= f.label :price %>
  <%= f.number_field :price %>
</li>	
 