<h1><%= pluralize(@orders.size, "Sales Order") %></h1>

<ul>
	<% @orders.each do |order| %>
	    <article class="order">
		  <h3>Order Ref.: <%= link_to order.id, order_path(order)  %> Date: <%= order.created_at %></h3>
		  <p>Customer: <%= order.customer %></p>
	      <table>
	        <tr>
	          <th>Item Ref.</th>
			  <th>Model Number</th>
			  <th>Description</th>
			  <th>Delivery Date</th>
	        </tr>
  	        <tr>
  	          <td><%= order.id %></td>
  	          <td><%= order.model_number %></td>
  	          <td><%= order.description %></td>
			  <td><%= order.delivery_due_on %></td>
  	        </tr>
	      </table>
          <p>Sales Person: <%= order.sales_person %></p>
		  <p>Total: <%= number_to_currency(order.total) %></p>
		</article>
	<% end %>
</ul>
<p><%= link_to "Add New Order", new_order_path %></p>