<article class="order">
  <h3>Order Ref.: <%= link_to @order.id, order_path(@order)  %></h3>
  <p>Date: <%= @order.created_at %></h3>
  <p>Customer: <%= @order.customer_company %></p>
  <p>Contact: <%= @order.customer_name %></p>
  <table>
    <tr>
      <th>Model Number</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
    <% @order.products.each do |product| %>
    <tr>
      <td><%= product.code %></td>
      <td><%= product.group %>, <%= product.options_standard %>, Options: <%= product.options_additional %></td>
      <td><%= number_to_currency(product.price) %></td>
    </tr>
    <% end %>
  </table>
  <p>Total: <%= number_to_currency(@order.total) %></p>
  <p><%= link_to "Add New Product", new_order_product_path(@order) %></p>
  <p>
  <% if current_user_admin? %>
  <%= link_to("Edit", edit_order_path(@order)) %> |
  <%= link_to("Delete", order_path(@order), method: :delete, data: { confirm: 'Are you sure?' }) %> |
  <% end %>
  <%= link_to pluralize(@order.products.size, "Product"), order_products_path(@order) %>
  </p>
</article>
