<article>
  <p>
    <%= @order.description %>
  </p>
  <table>
    <tr>
      <th>Customer:</th>
      <td><%= @order.customer %></td>
    </tr>
    <tr>
      <th>Model Number:</th>
      <td><%= @order.model_number %></td>
    </tr>
    <tr>
      <th>Sales Person:</th>
      <td><%= @order.sales_person %></td>
    </tr>
    <tr>
      <th>Total:</th>
      <td><%= number_to_currency(@order.total) %></td>
    </tr>
    <tr>
	  <th>Delivery info:</th>
      <td><%= format_delivery_due_in(@order) %></td>
    </tr>
  </table>
  <p>
	<%= link_to("All Orders", orders_path)  %> |
	<%= link_to("Edit", edit_order_path(@order)) %> |
	<%= link_to("Delete", order_path(@order), method: :delete, data: { confirm: 'Are you sure?' }) %>
  </p>
</article>