<h1>Products for:</h1>
<h2><span><%= @order.customer_company %></span> <span>Order Ref.: <%= link_to @order.id, order_path(@order) %></span></h2>
<ol id="products">
  <% @products.each do |product| %>
    <li>
      <span class="code"><%= product.code %></span>
	    <span class="description"><%= product.options_standard %></span>
      <span class="price"><%= number_to_currency(product.price) %></span>
    </li>
  <% end %>
</ol>
