<h1>All products</h1>
<ol id="products">
  <% @products.each do |product| %>
    <li>
      <span>Order Ref.: <%= product.order_id %></span>
      <span><%= product.order.customer_company %></span>
      <span class="code"><%= product.code %></span>
	    <span class="description"><%= product.options_standard %></span>
      <span class="price"><%= number_to_currency(product.price) %></span>
    </li>
  <% end %>
</ol>