<h1>New Product</h1>

<p>Order Ref.: <%= @order.id %></p>
<p>Customer: <%= @order.customer_company %></p>
<%= form_for([@order, @product]) do |f| %>
  <ul>
    <%= render 'orders/product_fields', :f => f  %>
  </ul>
  <p>
    <%= f.submit %> | 
    <%= link_to "Cancel", order_path(@order) %>
  </p>
<% end %>